<!-- <form [formGroup]="form" (ngSubmit)="login()">
<div formGroupName="account">
    
    <div class="form-group">
        <label for="username">Username</label>
        <input formControlName="username" id="username" type="text" class="form-control">
        <div *ngIf="username.pending">Checking....</div>
        <div class="alert alert-danger" *ngIf="(username).invalid && (username).touched">
            <div *ngIf="username.errors.required">Username requiered</div>
            <div *ngIf="username.errors.minlength">minmum {{ username.errors.minlength.requiredLength }}charecter</div>
            <div *ngIf="username.errors.connotContainSpace">username can not contain Space</div>
            <div *ngIf="username.errors.shouldBeUnique">username is alredy used</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" id="password" type="text" class="form-control">
        <div *ngIf="form.get('password').touched && form.get('password').invalid" class="alert alert-danger">Password is requiered</div>
    </div>
    <div>
        <button class="btn btn-primary" type="submit" >Sign Up</button>
    </div>
</div>
</form> --><h1>lsafhiulsgfsadgjfkugfsd</h1>