
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
        <li routerLinkActive="active current"><a routerLink="/contactform">Contact form</a></li>
        <li routerLinkActive="active current"><a routerLink="/Posts">Posts</a></li>
        <li routerLinkActive="active current"><a routerLink="/changepassword">Change password</a></li>
        <li routerLinkActive="active current"><a routerLink="/courseform">Course</a></li>
        </ul>
    </div>
</nav>